.App {
  height: 100%;
    background-color:#eeeeee;
    font-family: sans-serif;
    
  }
  
  span {
    margin: 20px;
  }
  
  #pie-container {
    display: inline-block;
    align-items: center;
    white-space: normal;
    overflow-wrap: break-word;
    margin-top: 10px;
  }

  .option {
    padding-top: 50px;
     justify-content: center;
     display: flex;
     flex-direction: column;
  }
  
  .filter{
    padding-top: 10px; 
     justify-content: center;
    display: flex;
    flex-direction: row;
    width: fit-content;
  }